body{

font-family:'Poppins',sans-serif;

height:100vh;

display:flex;

align-items:center;

justify-content:center;

overflow:hidden;

background:linear-gradient(135deg,#1b0b41,#cea009,#c9831b);

background-size:400% 400%;



}

@keyframes bgMove{

0%{background-position:left;}

100%{background-position:right;}

}

.login-container{

width:100%;

padding:20px;

display:flex;

justify-content:center;

}

.login-card{

width:430px;

background:rgba(30, 12, 63, 0.945);

backdrop-filter:blur(18px);

border:1px solid #ff9900;

border-radius:25px;

padding:40px;

box-shadow:0 20px 60px rgba(0,0,0,.25);

animation:fadeUp .8s;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:none;

}

}

.logo-box{

width:95px;

height:95px;

background:#fff;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

margin:auto;

box-shadow:0 10px 25px rgba(0,0,0,.15);

margin-bottom:15px;

}

.logo{

width:70px;

}

.login-card h2{

font-weight:700;

color:#fff;

}

.login-card p{

color:#eee;

}

/* Role Switch */

.role-switch{

display:flex;

position:relative;

background:#fff;

border-radius:50px;

padding:5px;

margin:25px 0;

overflow:hidden;

}

.switch-bg{

position:absolute;

width:50%;

height:calc(100% - 10px);

background:linear-gradient(135deg,#e99f00,#f1a500);

border-radius:50px;

left:5px;

top:5px;

transition:.4s;

}

.role-btn{

position:relative;

width:50%;

padding:13px;

background:none;

border:none;

font-weight:600;

z-index:2;

transition:.3s;

color:#555;

}

.role-btn.active{

color:#fff;

}

.role-btn i{

margin-right:8px;

}

/* Inputs */

.input-group-custom{

display:flex;

align-items:center;

background:#fff;

border-radius:15px;

padding:0 18px;

margin-bottom:18px;

box-shadow:0 5px 18px rgba(0,0,0,.08);

transition:.3s;

}

.input-group-custom:focus-within{

transform:translateY(-2px);

box-shadow:0 10px 25px rgba(79,70,229,.2);

}

.input-group-custom i{

font-size:20px;

color:#4f46e5;

}

.input-group-custom input{

border:none;

box-shadow:none;

padding:16px;

font-size:15px;

}

.input-group-custom input:focus{

box-shadow:none;

}

.toggle-password{

cursor:pointer;

font-size:20px;

color:#777;

}

/* Button */

.login-btn{

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:linear-gradient(135deg,#4f46e5,#250a49);

font-size:17px;

font-weight:600;

color:#fff;

transition:.35s;

}

.login-btn:hover{

transform:translateY(-4px);

box-shadow:0 15px 35px rgb(27, 7, 53);

}

.forgot-link{

color:#fff;

text-decoration:none;

font-weight:500;

}

.forgot-link:hover{

text-decoration:underline;

}

@media(max-width:576px){

.login-card{

padding:28px;

width:100%;

}

}